$color: #999;
@mixin modifyListStyle($select) {
  #{$select} {
    list-style: none;
    float: left;
    color: $color;
    margin-left: 25px;
  }
}
.logo {
  position: absolute;
  left: 370px;
  z-index: 9998;
  .input-group {
    border: 2px solid red;
    border-radius: 6px;
    margin-top: 5px;
    .form-control {
      border: 1px solid red;
    }
    .input-group-btn {
      border-left: 2px solid red;
      .btn-default {
        border: 1px solid red;
        background: red;
        &:hover {
          background: linear-gradient(to right, red, #ff3061);
        }
      }
    }
  }
  @include modifyListStyle(".listBottom li");
  .listBottom {
    margin-top: 5px;
    a {
      color: $color;
      &:hover {
        color: red;
      }
    }
  }
  .shopButton {
    border: 2px solid red;
    width: 110px;
    border-radius: 50px;
    text-align: center;
    margin-top: 5px;
    span {
      padding-left: 8px;
      position: relative;
      top: 2px;
    }
    &:hover {
      border: 2px solid red;
      background: rgb(255, 244, 245);
      color: red;
    }
  }
  .shopingBox {
    margin-top: 10px;
    .listNavHead {
      list-style: none;
      background: linear-gradient(to right, red, #ff3061);
      li {
        margin-left: -42px;
        padding: 9px;
        span {
          color: #ffffff;
          font-size: 15px;
          padding-left: 15px;
        }
      }
    }
  }
  .indexNav {
    li {
      height: 42px;
      list-style: none;
      float: left;
      padding-left: 40px;
      line-height: 42px;
      a {
        color: black;
        text-decoration: none;
        font-size: 16px;
        &:hover {
          color: red;
        }
      }
    }
  }
  .listNav {
    list-style: none;
    background: linear-gradient(to right, red, #ff3061);
    margin-top: -8px;
    li {
      padding: 9.2px;
      margin-left: -40px;
      border-bottom: 1px solid #ffffff;
      span > img {
        zoom: 0.7;
      }
      .icon {
        padding-left: 15px;
      }
      .iconhv {
        display: none;
      }
      span {
        color: #ffffff;
        font-size: 15px;
        padding-left: 15px;
      }
      a {
        @extend span;
        text-decoration: none;
      }
      &:hover {
        background: #ffffff;
        .icon {
          display: none;
        }
        .iconhv {
          float: left;
          display: block;
        }
        a {
          color: red;
        }
      }
    }
  }
}
.jumbotron {
  background: #ffffff !important;
  .rotationChart {
    position: absolute;
    top: 120px;
    z-index: 9996;
    .buttonLeft {
      line-height: 506px;
      position: relative;
      left: -100px;
    }
    .buttonRight {
      line-height: 506px;
      position: relative;
      left: -30px;
    }
  }
  .rotationChartBottom {
    position: relative;
    left: -130px;
    z-index: 9997;
    background: rgba(0, 0, 0, 0.3);
    width: 2040px;
    height: 50px;
    margin-top: -50px;
    line-height: 50px;
    .rotationChartBottomNav li {
      list-style: none;
      float: left;
      a {
        color: #ffffff;
        padding-left: 12px;
      }
    }
    .rotationChartBottomNav > li {
      padding-left: 30px;
    }
    .rotationChartBottomNavRight li {
      list-style: none;
      float: left;
      a {
        color: #ffffff;
        padding-left: 10px;
      }
    }
  }
}
.stairs {
  margin-top: 650px;
  .m-indexleft {
    width: 101px;
    height: 582px;
    position: relative;
    top: 0px;
    left: -70px;
    border: 1px solid #999;
    .floor {
      position: relative;
      left: -20px;
      li {
        list-style: none;
        width: 99px;
        height: 32px;
        a {
          display: block;
          width: 99px;
          height: 32px;
          text-decoration: none;
          color: #999;
          &:hover {
            color: red;
          }
        }
      }
    }
  }
  .m-rightbar {
    width: 64px;
    height: 245px;
    position: relative;
    left: -60px;
    border: 1px solid #999;
    border-bottom: none;
    .clearfix li {
      list-style: none;
      width: 62px;
      height: 61px;
      position: relative;
      left: -40px;
      a {
        display: block;
        width: 62px;
        height: 61px;
        text-align: center;
        text-decoration: none;
        border-bottom: 1px solid #999;
        color: #999;
        p {
          margin: 0px;
          padding: 0px;
        }
      }
    }
  }
}
.shopBox {
  position: relative;
  top: -612px;
}
.beautyMakeupArea {
  position: relative;
  top: -590px;
  .beautyMakeupAreaTitle {
    font-size: 20px;
    font-weight: bold;
  }
  .hotSearchList {
    margin-top: 5px;
    .hotSearch {
      float: left;
    }
    ul li {
      list-style: none;
      float: left;
      a {
        padding-left: 15px;
        color: #999;
        &:hover {
          color: red;
        }
      }
    }
  }
  .more a {
    margin-top: 5px;
    float: right;
    color: #999;
  }
  .shopExhibitionList {
    margin-top: 20px;
    .bigPicExhibition {
      position: relative;
      z-index: 9995;
    }
  }
  .bigPicExhibitionList {
    position: absolute;
    top: 400px;
    left: 30px;
    z-index: 9997;
    .bigPicExhibitionList_01 {
      float: left;
      list-style: none;
      width: 73px;
      height: 42px;
      border: 1px solid #999999;
      text-align: center;
      line-height: 42px;
      border-radius: 20px;
      a {
        color: rgb(87, 84, 84);
        text-decoration: none;
        &:hover {
          color: red;
        }
      }
    }
    .bigPicExhibitionList_02 {
      @extend .bigPicExhibitionList_01;
      margin-left: 1.7px;
    }
    .bigPicExhibitionList_03 {
      @extend .bigPicExhibitionList_02;
    }
    .bigPicExhibitionList_04 {
      @extend .bigPicExhibitionList_01;
      margin-top: 10px;
    }
    .bigPicExhibitionList_05 {
      @extend .bigPicExhibitionList_01;
      margin-top: 10px;
      margin-left: 1.7px;
    }
    .bigPicExhibitionList_06 {
      @extend .bigPicExhibitionList_05;
    }
  }
  @mixin picExhibitionCenter($picExhibitionCenter) {
    #{$picExhibitionCenter} {
      list-style: none;
      border-right: 1px solid #999999;
      border-bottom: 1px solid #999999;
      width: 257px;
      height: 267px;
      float: left;
      text-align: center;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
  @include picExhibitionCenter(".picExhibitionCenter .picExhibitionCenter_01");
  @include picExhibitionCenter(".picExhibitionCenter .picExhibitionCenter_02");
  @include picExhibitionCenter(".picExhibitionCenter .picExhibitionCenter_03");
  @include picExhibitionCenter(".picExhibitionCenter .picExhibitionCenter_04");
  @mixin itemsale($itemsale) {
    #{$itemsale} {
      border-top: 1px solid #999999;
      width: 260px;
      height: 120px;
      display: flex;
      align-items: center;
      a {
        color: #999999;
        align-items: center;
        &:hover {
          color: #999999;
        }
      }
      p {
        float: left;
        .moneyIcon {
          color: red;
          font-size: 20px;
        }
        .money {
          @extend .moneyIcon;
        }
      }
    }
  }
  @include itemsale(".itemsale");
  .coverMarginBottom {
    border: 1px solid #999999;
    width: 1140px;
    height: 218px;
    margin-top: 10px;
    .txt {
      border-bottom: 1px solid #999999;
      height: 49px;
      line-height: 49px;
      padding-left: 10px;
    }
    .brandListContainer {
      height: 167px;
      display: flex;
      align-items: center;
      a {
        width: 228px;
        height: 167px;
        border-right: 1px solid #999999;
        text-align: center;
        line-height: 167px;
      }
    }
  }
}
.guessLike {
  width: 100%;
  height: 450px;
  background: rgb(250, 250, 250);
  position: absolute;
  left: 365px;
  top: 10685px;
  .guessLikeTitle {
    font-size: 20px;
    font-weight: bold;
  }
  .guessLikeTxt {
    position: relative;
    top: 5px;
  }
  .guessLikePic {
    .guessLikePicBox {
      margin-top: 25px;
      display: block;
      width: 260px;
      height: 260px;
      background: #ffffff;
      display: flex;
      img {
        width: 180px;
        height: 180px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
    .guessLikeIntroduce {
      margin-top: 25px;
      a {
        font-size: 16px;
        color: black;
      }
    }
    .guessLikeMoneyIcon {
      color: red;
      font-size: 20px;
    }
    .guessLikMoney {
      @extend .guessLikeMoneyIcon;
    }
    .guessLikeEvaluate {
      margin-left: 70px;
      a {
        color: #999;
        font-size: 12px;
      }
    }
  }
}
#aboutNEST {
  width: 100%;
  height: 200px;
  background: #333333;
  text-align: center;
  line-height: 30px;
  display: flex;
  color: #c2c2c2;
  .aboutNESTcontent {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  a{
    color: #c2c2c2;
  }
}
