.register {
  h4 {
    display: inline;
    color: red;
    font-weight: bold;
  }
  .tips-box {
    float: right;
  }
  #registerForm {
    margin-top: 10px;
    #registerBUtton {
      background: rgb(52, 58, 64);
      color: #ffffff;
      &:hover {
        background: rgb(35, 39, 43);
      }
    }
  }
}
.footerIframe {
  position: fixed;
  bottom: 0;
}
